@{
    ViewBag.Title = "Shots";
}

@model IEnumerable<Dribbble.Models.Shot>

@if (!Request.IsAuthenticated)
{
    <div class="jumbotron">
        <h3><b>What are you working on?</b> Dribbble is show and tell for designers.</h3>

        @Html.ActionLink("Learn More", "About", "Home", new { area = "" }, new { @class = "btn btn-default" })
        @Html.ActionLink("Sign Up", "Signup", "Account", new { area = "" }, new { @class = "btn btn-primary" })
    </div>
}



<div class="page-header">
    @if (Request.IsAuthenticated)
    {
      @Html.ActionLink("New Post", "New", "Shot", new { area = "" }, new { @class = "btn btn-primary pull-right" })
    }
    <h2>Popular</h2>
</div>


<div class="row">
   @foreach (var item in Model)
   {
    <div class="col-sm-4 col-md-3">
        <div class="thumbnail">
            <img alt="@item.Title" src="~/Content/uploads/@item.ImageURL">
            <div class="caption">
                @Html.ActionLink(item.Title, "Details", new { id = item.ID })
            </div>
        </div>
    </div>
   }  
</div>
       


